*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    background: #fbfbfb;
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.card {
    position: relative;
    z-index: 10;
    padding: 1rem 1vw;
    max-width: 14rem;
    background-color: #fff;
    text-align: center;
    margin: 10px;
    border-radius: 11px;
    border-style: groove;
    border-color: #2196F3;
    border-width: 12px;

}

.card-1 {
    position: relative;
    z-index: 10;
    padding: 1.5rem 2.5vw;
    max-width: 21rem;
    background-color: #fff;
    margin: 10px;
    text-align: center;
    border-radius: 11px;
    border-style: groove;
    border-color: #2196F3;
    border-width: 12px;
}

.card-2 {
    position: relative;
    z-index: 10;
    padding: 1.5rem 2.5vw;
    max-width: 41rem;
    background-color: #fff;
    margin: 10px;
    text-align: center;
    border-radius: 11px;
    border-style: groove;
    border-color: #2196F3;
    border-width: 12px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.avatar-img { 
    border-radius: 50%;
    width: 100px;
    margin: 0 10px;
}
 
 .action-button {
    background: white;
    border: 1px solid #2196F3;
    color:#2196F3;
    border-radius: 5px;
    padding: 12px 24px;
    font-weight:bold;
    font-size: 0.9em;
    letter-spacing: 1px;
    display: inline-block;
 }

 .action-button:hover {
    background: #2196F3; 
    color: white;
    cursor:pointer;
 }

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.vote-container {
    max-width: 300px; border: 1px solid #2196F3; margin: 20px; padding: 10px
}
.vote-bar__background{
	background:#e2e0e0; height: 25px; border-radius: 5px; position: relative; margin: 10px; width: 90%; color: white;
}
.vote-bar__fill{
	background:#2196F3; height: 25px; width:50%; border-radius: 5px; }
.vote-bar__percent__number{
	position: absolute; padding: 5px; top: 0; width:100%; display: flex; justify-content: center;
}

.would-rather-title {
    font-weight:bold; 
    font-size:20px;
}

.author {
    font-weight:bold;
    color:#2196F3;
    margin: 0; 
    margin-bottom: 10px;
}

.total-score {
    border-radius:50%;color:white;padding:10px; background: #2196F3; font-size: 26px; width: 57px;
    display: inline-block;
}
.point {
    border-radius:50%;color:white;padding:10px; background: #2196F3; width: 36px;
    display: inline-block;
}

.fa-trophy {
    font-size: 36px;
}
.trophy-0 {
    color:#FFD700;
}

.trophy-1 {
    color:#c0c0c0;
}

.trophy-2 {
    color:#cd7f32;
}

.voted {
    width: 85px;
    display: block;
    margin-left: 78%;
    transform: rotate(-25deg);
}


fieldset.newquestion {
    padding: 0;
    border: none;
  }
  
  label.newquestion {
    display: block;
    margin-bottom: 8px;
  }

  input[type="text"].newquestion {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }

  .createPoll {
      max-width: 450px;
  }


 /*The following code below is from codepen for css only tabs mikestreety https://codepen.io/mikestreety/pen/yVNNNm */
 
 .tabs {
	display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    margin: 0 auto;
}
.tabs label {
	order: 1;
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: white;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  height: 600px;
  overflow: auto;
}
.tabs input[type="radio"] {
	display: none;
}
.tabs input[type="radio"]:checked + label {
	background: #90CAF9;
}
.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
  

/* width */
.tab::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.tab::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
 
/* Handle */
.tab::-webkit-scrollbar-thumb {
    background:#2196F3; 
    border-radius: 5px;
}

/* Handle on hover */
.tab::-webkit-scrollbar-thumb:hover {
    background: #2196F3; 
}